{% extends 'base.html'%}
{% block content %}
<div class="container-fluid " style="background-color: rgb(66, 66, 68);color:white;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h3> {{user.username| capitalize}} </h3>
            <div class="card card-body">
                {% if user.bio %}
                <p> {{user.bio}}</p>
                {%else%}
                <p> {{user.username| capitalize}} has no bio </p>
                {% endif %}

                {% if user == current_user %}
                <a class="btn btn-primary text-bold" href="{{url_for('main.update_profile',uname=user.username)}}">Edit
                    profile</a>
                {% endif %}
            </div>
            <hr>

            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail" height="200px"
                width="200px" style="border-radius: 50%;">
            {%else%}
            <p>No profile picture</p>
            {% endif %}

            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                enctype="multipart/form-data">

                <input type="file" name="photo" class="form-control" required><br>
                <input type="submit" class="btn btn-primary">
            </form>
            {% endif %}
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <br>


</div>

<div class="container-fluid card-footer"
    style="height:5vh;color:rgb(161, 161, 192); font-size:25px;text-align: center;background-color: rgb(21, 21, 26);">
    <div class="row" style="background-color: rgb(21, 21, 26);">
        <div class="col-md-4">

            <h3>contact us</h3>

            <i class="fa fa-phone" style="font-size:30px;color:rgb(9, 167, 4)">Contact us</i><br>
            <i class='fas fa-envelope-square' style='font-size:30px;color:rgb(30, 255, 0)'>Email</i>


        </div>

        <div class="col-md-4">
            <h3>Social Media</h3>
            <div class="card-body" style="font: size 40px;display:flex;flex-direction: column;justify-content:center;">
                <a href="#" class="fa fa-facebook">-Facebook</a><br>
                <a href="#" class="fa fa-twitter">-Twitter</a><br>
                <a href="#" class="fa fa-instagram">-Instagram</a><br>
            </div>

        </div>
        <div class="col-md-4">
            <h3>Subscription</h3>
            <div class="subscribe" style="margin: 50px;">

                <input type="text" class="form-control" placeholder="Email">
                <button class="btn btn-primary">Suscribe</button>
            </div>


        </div>
        <div class="col-md-12">
            <p>Copyright &copy; <a href="/"></a>Dynamo Fitness</a></p>
        </div>
    </div>

    {% endblock %}