{% extends 'base.html'%}

{% block content%}
{% import 'bootstrap/wtf.html' as wtf%}
<div class="makeblog" style="height: 150vh;background-color: rgb(83, 83, 85);color:white;">

 
  <div class="row " style="height:100%">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>Create a blog</h3>
      <hr>
      {{wtf.quick_form(blog_form)}}
      {{simplemde.load}}
    </div>
    <div class="col-md-3"></div>


  </div>


</div>
<br>
<br>
<div class="container-fluid card-footer"
  style="height:5vh;color:rgb(161, 161, 192); font-size:25px;text-align: center;background-color: rgb(21, 21, 26);">
  <div class="row"style="background-color: rgb(21, 21, 26);">
    <div class="col-md-4">

      <h3>contact us</h3>

      <i class="fa fa-phone" style="font-size:30px;color:rgb(9, 167, 4)">Contact us</i><br>
      <i class='fas fa-envelope-square' style='font-size:30px;color:rgb(30, 255, 0)'>Email</i>


    </div>

    <div class="col-md-4">
      <h3>Social Media</h3>
      <div class="card-body" style="font: size 40px;display:flex;flex-direction: column;justify-content:center;">
        <a href="#" class="fa fa-facebook">-Facebook</a><br>
        <a href="#" class="fa fa-twitter">-Twitter</a><br>
        <a href="#" class="fa fa-instagram">-Instagram</a><br>
      </div>

    </div>
    <div class="col-md-4">
      <h3>Subscription</h3>
      <div class="subscribe" style="margin: 50px;">

        <input type="text" class="form-control" placeholder="Email" >
        <button class="btn btn-primary">Suscribe</button>
      </div>


    </div>
    <div class="col-md-12">
      <p>Copyright &copy; <a href="/"></a>Dynamo Fitness</a></p>
    </div>
  </div>
{%endblock%}