{% extends 'base.html'%}

{% block content %}
<div class="container-fluid" style="background-color: rgb(2, 2, 36);">

<h3 style="color: white;">View Fitness trends</h3>
<div class="row" style="height:100vh">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="../static/photos/fitness.jpeg" alt="" height="100px" width="100">
        <img src="../static/photos/certfiness.jpeg" alt="" height="100px" width="100">
    </div>
    <div class="col-md-4"></div>
   

    <div class="col-md-2"></div>

</div>


</div>








{% endblock %}

