{%extends 'base.html'%}

{%block content%}


<div class="container-fluid"
    style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url('../static/photos/certfiness.jpeg'); height:100vh; background-size: cover; background-repeat: no-repeat;"
    ;>

    <div class="row">
        <div class="col-md-6" style="color:white">
            <h2 style="font-size: 30px;padding-top: 20vh;margin-left: 35px;">Welcome to dynamo fitness app
            </h2> <br>
            <h4>“The ability to be in the present moment is a major component of mental wellness.”- Abraham Maslow</h4><br>
            <a class="btn btn-primary" href="/fitness" style="margin-left: 35px;">View our Services</a>
        </div>

        


    </div>

</div>
{%endblock%}