{%extends 'base.html'%}

{%block styles %}
{{ super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">


{%endblock %}

{%block content%}


<div class="container-fluid"
    style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url('../static/photos/certfiness.jpeg'); height:100vh; background-size: cover; background-repeat: no-repeat;"
    ;>

    <div class="row welcome">
        <div class="col-md-6" style="color:white;">

          <div class="home container-fluid " style="font-size: 30px;margin-top: 40px;margin-left: 35px;background-color:rgb(95, 52, 3)">
            <h2">Welcome to dynamo fitness app
            </h2> <br>

            <div class="card card-body">
                <h4>“The ability to be in the present moment is a major component of mental wellness.”- Abraham Maslow
                </h4><br>
                <a class="btn btn-primary " href="/fitness" style="margin-left: 35px; margin-bottom: 20px;">View our Services</a>
            </div>
          </div>
        </div>




    </div>

</div>
{%endblock%}