{% extends 'base.html'%}

{%block navbar%}
{%include 'navbar.html'%}

{%endblock%}



{% block content %}


<div class="container-fluid" style="background-color: rgb(21, 21, 26);">


    <div class="row" style="height:100vh;color:white;">
        <h2>Nutrition page</h2>
        <div class="d-flex flex-row float-right" style="margin: 50px;">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/cauliflower.jpg" alt="Card image cap" width="288px"
                        height="288px">
                    <div class="card-body">
                        <card-title>CAULIFLOWER-CRUSTED </card-title>
                        <p class="card-text">Calories: 136; Total Fat: 6g; Saturated Fat: 3g; Monounsaturated Fat: 1g;
                            Cholesterol: 68mg; Sodium: 330mg; Carbohydrate: 11g; Dietary Fiber: 5g; Sugar: 4g; Protein:
                            13g</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/1-minute-berry.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>1-MINUTE BERRY PEANUT</card-title>
                        <p class="card-text">Calories: 156; Total Fat: 8g; Saturated Fat: 1g; Monounsaturated Fat: 0g;
                            Cholesterol: 1mg; Sodium: 57mg; Carbohydrate: 19g; Dietary Fiber: 7g; Sugar: 9g; Protein: 5g
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/peanut_butter.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>Peanut Butter</card-title>
                        <p class="card-text">Calories: 299; Total Fat: 15g; Saturated Fat: 3g; Monounsaturated Fat: 0g;
                            Cholesterol: 53mg; Sodium: 131mg; Carbohydrate: 34g; Dietary Fiber: 6g; Sugar: 13g; Protein:
                            11g.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/lemmon_strawberry.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>Lemon strawberry</card-title>
                        <p class="card-text">Calories: 186; Total Fat: 2g; Saturated Fat: 0g; Monounsaturated Fat: 1g;
                            Cholesterol: 3mg; Sodium: 75mg; Carbohydrate: 35g; Dietary Fiber: 5g; Sugar: 18g; Protein:
                            8g</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/savory_sweet.jpg" alt="Card image cap" width="288px"
                        height="288px">
                    <div class="card-body">
                        <card-text>
                            <card-title>SAVORY SWEET POTATO MUFFINS</card-title>
                            <p>Calories: 206; Total Fat: 7g; Saturated Fat: 1g; Monounsaturated Fat: 4g; Cholesterol:
                                0mg;
                                Sodium: 196mg; Carbohydrate: 31g; Dietary Fiber: 4g; Sugar: 8g; Protein: 5g
                            </p>
                        </card-text>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/lemmon_strawberry.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>Lemon strawberry</card-title>
                        <p class="card-text">Calories: 186; Total Fat: 2g; Saturated Fat: 0g; Monounsaturated Fat: 1g;
                            Cholesterol: 3mg; Sodium: 75mg; Carbohydrate: 35g; Dietary Fiber: 5g; Sugar: 18g; Protein:
                            8g</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos//golden.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>GOLDEN OVERNIGHT</card-title>
                        <p class="card-text">Calories: 212; Total Fat: 5g; Saturated Fat: 1g; Monounsaturated Fat: 1g; Cholesterol: 0mg; Sodium: 91mg; Carbohydrate: 39g; Dietary Fiber: 7g; Sugar: 8g; Protein: 6g</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/photos/spinach.jpg" alt="Card image cap"
                        width="288px" height="288px">
                    <div class="card-body">
                        <card-title>SPINACH SMOOTHIE</card-title>
                        <p class="card-text">Calories: 210; Total Fat: 6g; Saturated Fat: 1g; Monounsaturated Fat: 4g; Polyunsaturated Fat: 1g; Cholesterol: 3mg; Sodium: 43mg; Carbohydrate: 35mg; Dietary Fiber: 7g; Sugar: 18g; Protein: 7g

                        </p>
                    </div>
                </div>
            </div>
            
            
        </div>




    </div>




</div>


</div>

{% endblock %}