{% extends 'base.html'%}
{% block content %}

<div class="container-fluid"
    style="background-image: url('../static/photos/services.jpeg'); background-repeat: no-repeat;background-size:cover;height: 60vh;">

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-5" style="font-size:larger; background-color:rgb(24, 24, 29);color:white; margin-top: 40px;">
            <h3>-OUr Services-</h3>
            <hr>
            <ul>
                <li>-Yoga Classes</li>
                <li>-Diet Recommendations</li>
                <li>-Dance Classes</li>
                <li>-Recipes for both foods and drinks</li>
                <li>-Intense Abb workouts</li>
            </ul>

        </div>
        <div class="col-md-1"></div>




    </div>


</div>

<div class="container-fluid card-footer"
    style="height:5vh;color:rgb(161, 161, 192); font-size:25px;text-align: center;background-color: rgb(21, 21, 26);">
    <div class="row" style="background-color: rgb(21, 21, 26);">
        <div class="col-md-4">

            <h3>contact us</h3>

            <i class="fa fa-phone" style="font-size:30px;color:rgb(9, 167, 4)">Contact us</i><br>
            <i class='fas fa-envelope-square' style='font-size:30px;color:rgb(30, 255, 0)'>Email</i>


        </div>

        <div class="col-md-4">
            <h3>Social Media</h3>
            <div class="card-body" style="font: size 40px;display:flex;flex-direction: column;justify-content:center;">
                <a href="#" class="fa fa-facebook">-Facebook</a><br>
                <a href="#" class="fa fa-twitter">-Twitter</a><br>
                <a href="#" class="fa fa-instagram">-Instagram</a><br>
            </div>

        </div>
        <div class="col-md-4">
            <h3>Subscription</h3>
            <div class="subscribe" style="margin: 50px;">

                <input type="text" class="form-control" placeholder="Email">
                <button class="btn btn-primary">Suscribe</button>
            </div>


        </div>
        <div class="col-md-12">
            <p>Copyright &copy; <a href="/"></a>Dynamo Fitness</a></p>
        </div>
    </div>
    {%endblock%}