{% extends 'base.html'%} {%block content %}

<div class="container-fluid" style="width:100%;">
  <div class="row">
    <h2 style="text-align: center;font-size: xx-larger;">Dances</h2>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/GDKXYnhOuiY?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Chloe Ting</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/enYITYwvPAQ?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Walk at Home</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/lDA8QqF5gtM?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>The Studio by Jamie Kinkeade</card-title>
          <card-text></card-text>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="row">
    <h3 Body Fitness style="text-align: center;font-size: xx-larger;"></h3>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/uZXQuqPnp8g?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/enYITYwvPAQ?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Walk at Home</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/CPI_Ve7vsHs?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>1-MINUTE BERRY PEANUT</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <h2 style="text-align: center;font-size: xx-larger;">Yoga Classes</h2>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/v7SN-d4qXx0?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Yoga with Adriene</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>

    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/JMZsh63cfOI?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Tara Stiles's Yoga flex</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/fQ6_PxRqjbM?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Core strength yoga</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <h2 style="text-align: center;font-size: xx-larger;">Abs Workouts</h2>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/jC5xlKIQgR8?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>intense ab workout</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>

    <div class="col-sm-3">
      <div class="col-sm-1"></div>
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/l0EIkTZpHvw?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>intense ab workout</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/DHD1-2P94DI?=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div class="card-body">
          <card-title>Intense ab workout</card-title>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<div class="container-fluid card-footer"
  style="height:5vh;color:rgb(161, 161, 192); font-size:25px;text-align: center;background-color: rgb(21, 21, 26);">
  <div class="row" style="background-color: rgb(21, 21, 26);">
    <div class="col-md-4">

      <h3>contact us</h3>

      <i class="fa fa-phone" style="font-size:30px;color:rgb(9, 167, 4)">Contact us</i><br>
      <i class='fas fa-envelope-square' style='font-size:30px;color:rgb(30, 255, 0)'>Email</i>


    </div>

    <div class="col-md-4">
      <h3>Social Media</h3>
      <div class="card-body" style="font: size 40px;display:flex;flex-direction: column;justify-content:center;">
        <a href="#" class="fa fa-facebook">-Facebook</a><br>
        <a href="#" class="fa fa-twitter">-Twitter</a><br>
        <a href="#" class="fa fa-instagram">-Instagram</a><br>
      </div>

    </div>
    <div class="col-md-4">
      <h3>Subscription</h3>
      <div class="subscribe" style="margin: 50px;">

        <input type="text" class="form-control" placeholder="Email">
        <button class="btn btn-primary">Suscribe</button>
      </div>


    </div>
    <div class="col-md-12">
      <p>Copyright &copy; <a href="/"></a>Dynamo Fitness</a></p>
    </div>
  </div>
  {%endblock %}