{% extends 'base.html'%}

{%block content %}

<div class="container">
    <div class="row">
        <h2>Dance</h2>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="400" height="250" src="https://www.youtube.com/embed/GDKXYnhOuiY?autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <card-title>Chloe Ting</card-title>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="400" height="250" src="https://www.youtube.com/embed/enYITYwvPAQ?autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <card-title>Walk at Home</card-title>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="400" height="250" src="https://www.youtube.com/embed/lDA8QqF5gtM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <card-title>The Studio by Jamie Kinkeade</card-title>
                    <card-text></card-text>
                </div>



            </div>
        </div>


    </div>
    <hr>
    <div class="row">
        <h3>Body Fitness</h3>



        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="400" height="250" src="https://www.youtube.com/embed/uZXQuqPnp8g"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="739" height="416" src="https://www.youtube.com/embed/enYITYwvPAQ?autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <card-title>Walk at Home</card-title>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <iframe width="400" height="250" src="https://www.youtube.com/embed/CPI_Ve7vsHs?autoplay=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="card-body">
                    <card-title>1-MINUTE BERRY PEANUT</card-title>

                </div>
            </div>
        </div>
    </div>


</div>


{%endblock %}